---
import { Image } from '@astrojs/image/components';
import humitas from '../../Assets/Humitas.jpg';
---

<div
  class="w-[90%] mx-auto mb-[50px] xl:w-[100%] xl:mb-[0]">
  <div
    class="xl:flex items-center xl:mt-[100px] xl:w-[1200px] xl:mx-auto">
    <div class="max-w-[614px] mx-auto xl:w-[600px]">
      <h1
        class="text-three text-7xl font-title text-center pt-6 pb-4 font-bold md:text-8xl xl:text-left xl:pt-0">
        Humitas
      </h1>
      <h2 class="text-three text-xl leading-8">
        Ingredientes:
      </h2>
      <ul class="ml-5 pb-[30px] xl:pb-0">
        <li class="list-disc text-three text-xl leading-8">
          Maíz fresco
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Queso
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Huevos
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Mantequilla
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Cebolla
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Cilantro
        </li>
      </ul>
    </div>
    <div class="xl:w-[550px]">
      <Image
        alt="Humitas"
        src={humitas}
        width={614}
        height={410}
        class="mx-auto"
      />
    </div>
  </div>
  <p
    class="text-three text-3xl font-title text-center pt-[30px] leading-8 font-bold sm:text-4xl">
    £ 2 cada una <span class="hidden sm:inline">/</span
    ><span
      class="block h-[2px] w-[170px] mx-auto my-[5px] bg-three sm:hidden"
    ></span>
  </p>
</div>
