---
import { Image } from '@astrojs/image/components';
import tamales from '../../Assets/Tamales.jpg';
---

<div
  class="w-[90%] mx-auto mb-[50px] xl:w-[100%] xl:mb-[0]">
  <div
    class="xl:flex xl:flex-row-reverse items-center xl:mt-[100px] xl:w-[1200px] xl:mx-auto">
    <div class="max-w-[614px] mx-auto xl:w-[500px]">
      <h1
        class="text-three text-7xl font-title text-center pt-6 pb-4 font-bold md:text-8xl xl:text-left xl:pt-0">
        Tamales
      </h1>
      <h2 class="text-three text-xl leading-8">
        Ingredientes:
      </h2>
      <ul class="ml-5 pb-[15px]">
        <li class="list-disc text-three text-xl leading-8">
          Harina de maíz
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Carne de pollo/cerdo
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Cuero de cerdo
        </li>
        <li class="list-disc text-three text-xl leading-8">
          Vegetales
        </li>
      </ul>
      <h4 class="text-three text-xl leading-8">Aderezo:</h4>
      <ul class="ml-5 pb-[15px]">
        <li class="list-disc text-three text-xl leading-8">
          Caldo: pimienta, comino, cebolla y ajo
        </li>
      </ul>
      <p
        class="text-three text-xl leading-8 pb-[30px] xl:pb-[0]">
        Mi ingrediente estrella: el ACHIOTE. Enviado desde
        mi pueblo y tratado cuidadosamente por mi adorable
        Padre.<br /> ¡Incluye aji de cilantro!
      </p>
    </div>
    <div class="xl:w-[550px]">
      <Image
        alt="Tamales"
        src={tamales}
        width={614}
        height={410}
        quality={100}
        class="mx-auto"
      />
    </div>
  </div>

  <!-- SIN PROMO -->
  <!-- <p
    class="text-three text-4xl font-title text-center pt-[30px] leading-8 font-bold sm:text-4xl">
    £ 2 cada uno
  </p> -->

  <!-- CON PROMO -->
  <p
    class="text-three text-3xl font-title text-center pt-[30px] leading-8 font-bold sm:text-4xl">
    £ 2.50 cada uno <span class="hidden sm:inline">/</span
    ><span
      class="block h-[2px] w-[170px] mx-auto my-[5px] bg-three sm:hidden"
    ></span> 9 x £ 20
  </p>
</div>
