---
import { Image } from '@astrojs/image/components';
import humitas from '../Assets/Humitas.jpg';
import logo2 from '../Assets/Logo2.png'
import Header from '../components/Header'
---


<div class="absolute top-[20%] left-1/2 translate-x-[-50%] w-[350px] md:hidden">
    <Image
      alt="Humitas"
      src={logo2}
      width={350}
      height={350}
      class="mx-auto"
    />
  </div>
  

  <div
      class="h-[700px] min-h-[600px] relative lg:h-[700px] bg-[url('/Hero-mobile.jpg')] lg:bg-[url('/Hero-desktop.jpg')]  
      bg-cover bg-center bg-no-repeat ">
      {/* <Image /> */} 
      <Header client:load  />

        <div class="">
          <div class="absolute top-[20%] left-1/2 translate-x-[-50%] w-[350px] md:hidden">
            <Image
            alt="Humitas"
            src={logo2}
            width={350}
            height={350}
            class="mx-auto"
          />
          </div>
          <div class="max-[767px]:hidden absolute top-[20%] left-1/2 translate-x-[-50%] w-[450px]">
            <Image
            alt="Humitas"
            src={logo2}
            width={450}
            height={450}
            class="mx-auto"
          />
          </div>
          <p class=" absolute top-[75%] left-1/2 text-one translate-x-[-50%] font-paragraph font-normal text-2xl text-center w-[300px] sm:w-[400px] landscape:top-[85%] md:top-[85%]">
            Deliciosos sabores de la tierra, hechos con
            cariño por María.
          </p>
        </div>

    </div>