---
import Dulce from './Productos/Dulce.astro';
import Envueltos from './Productos/Envueltos.astro';
import Humitas from './Productos/Humitas.astro';
import Tamales from './Productos/Tamales.astro';
---

<main
  id="products"
  class="bg-four pb-[50px]">
  <h2
    class="text-three text-6xl font-title text-center pt-12 pb-6 font-bold md:text-7xl">
    Productos
  </h2>
  <p
    class="text-three text-center w-[90%] max-w-[728px] mx-auto text-xl leading-8">
    Mis productos son el resultado de un arduo trabajo y
    dedicación. Cada paso en la preparación se realiza con
    mucho amor y atención a los detalles para garantizar la
    máxima calidad, como me enseñó mi bella madre.
  </p>

  <Humitas />
  <Tamales />
  <Envueltos />
  <Dulce />

  <p
    class="text-three text-center w-[90%] max-w-[728px] mx-auto text-xl leading-8 mt-[50px] xl:mt-[100px] duration-1000">
    Me encuentro en Catford y ofrezco delivery gratuito en
    las zonas 1, 2 y 3. Si está un poco más lejos, no se
    preocupe, podemos organizarnos para llevar nuestros
    productos a su puerta. ¡No dude en contactarnos para
    hacer su pedido y disfrutar de mis productos en la
    comodidad de su hogar!
  </p>

  <button
    class="animate-bounce block my-[50px] py-[12px] h-fit w-[90%] mx-auto bg-three max-w-[400px] rounded-full sm:w-[250px] hover:bg-five duration-200">
    <a
      href="https://api.whatsapp.com/send?phone=447533726042"
      rel="noreferrer"
      target="_blank"
      class="text-one leading-8 text-center text-2xl font-medium"
      >¡Haz tu pedido!</a
    >
  </button>
</main>
<script>
  // const text = window.document.getElementsByTagName('p');
  // console.log(text[8]);

  // const observer = new IntersectionObserver((entries) => {
  //   entries.forEach((entry) => {
  //     if (entry.isIntersecting) {
  //       entry.target.classList.remove('-translate-x-56');
  //     } else {
  //       entry.target.classList.add('-translate-x-56');
  //     }
  //   });
  // });

  // observer.observe(text[8]);
</script>
