---
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/Logo.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content="Tamales y Humitas D' María"
    />
    <title>D' María</title>

    <!-- LINK PREVIEW -->

    <meta
      property="og:url"
      content="https://www.deliciaslojanasdemaria.com/"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:title"
      content="Tamales y Humitas D' María"
    />
    <meta
      property="og:description"
      content="Deliciosos sabores de la tierra, hechos con cariño por María"
    />
    <meta
      property="og:image"
      content="https://www.deliciaslojanasdemaria.com/Logo-preview.svg"
    />

    <!-- LINK PREVIEW -->
  </head>
  <body>
    <slot />
    <style is:global>
      /* :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console,
      Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  } */
    </style>
  </body>
</html>
